/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo global */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
  
  
  .backgroundinicial{
    background-image: url("./Imagens/backgroundinicial.png");
    background-size: cover;
    /* Ajusta o tamanho da imagem ao container */
    background-position: center;
    /* Posição da imagem no centro */
    background-repeat: no-repeat;
    /* Impede a repetição da imagem */
    /* Outros estilos, como altura, largura, margens, etc. */

}
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  header h1 {
    margin: 0;
  }

  header a {
    text-decoration: none;
    color: white
    }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  .input__container {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .input__field {
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .input__field[type="submit"] {
    background-color: #ffc107; /* Amarelo */
    color: black;
    cursor: pointer;
  }
  
  .alert {
    background-color: #FFD700; /* Amarelo escuro */
    color: #333; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  /* Estilos específicos para a página de login */
  .header h1 {
    font-size: 2rem;
    color: black;
  }
  
  .input__container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
  }
  
  .input__container span {
    color: black;
  }
  
  .input__container a {
    color: #ffc107; /* Amarelo */
  }
  
  /* Estilos para dispositivos móveis */
  @media (max-width: 768px) {
    .center {
      height: 100vh;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }