<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
    <title>Vanguardas Fitness - Sistema de Gerenciamento para Academias</title>
</head>

<body class="backgroundinicial">
    <header>
        <a href="/index"><h1>Vanguardas Fitness</h1></a>
        <nav>
            <ul>
                <li><a href="/deletar">Excluir conta(id)</id></a></li>
                <li><a href="/user">Voltar</a></li>
                <li><a href="/index">Sair</a></li>
            </ul>
        </nav>
    </header>

    <form action="" method="POST" class="input__fo">
        
        <div class="input__container">
            <label for="nome">Nome</label>
            <input class="input__field" name="name" id="name" type="text" value = "{{ usuario.nome }}" placeholder="Nome...">
            
        </div>
        <div class="input__container">
            <label for="email">Email</label>
            <input class="input__field" name="email" id="email" type="text" value = "{{usuario.email}}" placeholder="Email...">
            
        </div>
        <div class="input__container">
            <label for="password">Senha</label>
            <input class="input__field" name="senha" placeholder="password" type="password" placeholder="Senha..." value = "{{usuario.senha}}">
            
            <br><br>
            <input class="input__field" type="submit" value="Atualizar">
           
        </div>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2023 Vanguardas Fitness. Todos os direitos reservados.</p>
    </footer>

