<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
  <nav>
  <a href="/index">Página inicial</a>
  <a href="/contato">contato</a>
  <a href="/registro">Registro</a>
  <a href="/login"></a>
</nav>
{% block conteudo %}
<section class="features" >
  <div class="feature background1">
      
      <br><br>
      <button class="button">Agendamento de Aulas</button>

  </div>
  <div class="feature background2">
      
      <br><br>
      <button class="button">Acompanhamento de Progresso</button>

  </div>
  <div class="feature background3">
      
      <br><br>
      <button class="button">Gestão de Pagamentos</button>

  </div>
</section>
{% endblock %}
</body>
</html>