<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Vanguardas Fitness - Sistema de Gerenciamento para Academias</title>
</head>

<body class="backgroundinicial">
    <header>
        <a href="/index">
            <h1>Vanguardas Fitness</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/deletar">Excluir conta(id)</a></li>
                <li><a href="/atualizar">Atualização Cadastral(id)</a></li>
                <li><a href="/user">Voltar</a></li>
                <li><a href="/index">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main class="alinhar">
        <h2> Usuários do Banco de Dados</h2>
        {% for u in usuario %}
        <div method = "POST">
            Nome: {{u.nome}} <br>
            Email: {{u.email}} <br>
            Senha: {{u.senha}} <br>
            <br><br>
        {% endfor %}
        </div>

    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2023 Vanguardas Fitness. Todos os direitos reservados.</p>
    </footer>


</body>

</html>