<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<title>Vanguardas Fitness - Sistema de Gerenciamento para Academias</title>
</head>

<body class="backgroundinicial">
    <header>
        <a href="/index"><h1>Vanguardas Fitness</h1></a>
        <nav> 
            <ul>
                <li><a href="/user">voltar</a></li>
                <li><a href="/change">Alterar senha</a></li>
                <li><a href="/index">Sair</a></li>
            </ul>
        </nav>
    </header>

<form action="" method = "POST" class="alinhar" >
  <br><br><br><br><br><br><br><br><br><br>
 <h3 style="color: black;"> Clique em Sim para confirmar a remoção</h3>
 <br>
 <input type="submit" value = "Sim">
 <a href="/user"> Cancelar</a>
 <br><br>
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>&copy; 2023 Vanguardas Fitness. Todos os direitos reservados.</p>
</footer>
</body>
</html>