<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Vanguardas Fitness - Sistema de Gerenciamento para Academias</title>
</head>

<body class="backgroundinicial">
    <header>
        <a href="/index"><h1>Vanguardas Fitness</h1></a>
        <nav>
            <ul>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/aulas">Aulas</a></li>
                <li><a href="/financeiro">Financeiro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Bem-vindo à Vanguardas Fitness</h2>
            <p>Gerencie sua academia de forma eficiente e ofereça a melhor experiência aos seus membros.</p>
            <br>
            <a href="#" class="cta-button">Saiba Mais</a>
        </section>
#####################################
    </main>
    <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2023 Vanguardas Fitness. Todos os direitos reservados.</p>
    </footer>


</body>

</html>