<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Vanguardas Fitness - Sistema de Gerenciamento para Academias</title>
</head>

<body class="backgroundinicial">
    <header>
        <a href="/index"><h1>Vanguardas Fitness</h1></a>
        <nav>
            <ul>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/index">inicio</a></li>
                <li><a href="/aulas">Aulas</a></li>
                <li><a href="/financeiro">Financeiro</a></li>
            </ul>
        </nav>
    </header>

    <div class="center">
        <div class="header">
            <h1>Conecte-se na sua conta</h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert"> {{ message }} </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" method="GET">
            <div class="input__container">
                <label for="email">Email</label>
                <!-- <input name="email" id="email" type="text" class="input__field"> -->
                {{login.email(id="email", type="text", class="input__field")}}
            </div>
            <div class="input__container">
                <label for="password">Senha</label>
                <!-- <input name="password" id="password" type="password" class="input__field"> -->
                {{login.senha(id="password", type="password", class="input__field")}}
                <br><br>
                <!-- <input type="submit" value="Entrar" class="input__field"> -->
                {{login.enviar(type="submit", value="Entrar", class="input__field")}}
            </div>
            <div class="input__container">
                <span>Não tem conta? <a href="/registro" style="color: blue" >Cadastre-se</a></span>
                
            </div>
        </form>
    </div>
    
    <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2023 Vanguardas Fitness. Todos os direitos reservados.</p>
    </footer>

</body>

</html>