<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
    <title>Vanguardas Fitness - Sistema de Gerenciamento para Academias</title>
</head>

<body class="backgroundinicial">
    <header>
        <a href="/index">
            <h1>Vanguardas Fitness</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/index">inicio</a></li>
                <li><a href="/aulas">Aulas</a></li>
                <li><a href="/financeiro">Financeiro</a></li>
            </ul>
        </nav>
    </header>

    <div class="center">
        <br><br><br> <br>
        <h1>Cadastre-se</h1>
        <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert"> {{ message }} </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form action="/registro" method="GET" class="input__fo">
            <div class="input__container">
                <label for="nome">Nome</label>
                <!-- <input class="input__field" name="name" id="name" type="text"> -->
                {{ registro.nome(class="input__field", id="name", type="text", placeholder="Nome...") }}
            </div>
            <div class="input__container">
                <label for="email">Email</label>
                <!-- <input class="input__field" name="email" id="email" type="text"> -->
                {{registro.email(class="input__field", id="email", type="text", placeholder="Email...")}}
            </div>
            <div class="input__container">
                <label for="password">Senha</label>
                <!-- <input class="input__field" name="password" placeholder="password" type="password"> -->
                {{registro.senha (class="input__field", placeholder="Senha...", type="Password")}}
                <br><br>
                <!-- <input class="input__field" type="submit" value="Cadastrar"> -->
                {{registro.enviar( class="input__field", type="submit", value="Cadastrar")}}
            </div>

            <div class="input__container">
                <span class="alinhar">Já tem conta? <a href="/login" style="color: blue">Faça login</a></span>
            </div>
        </form>
    </div>
    <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2023 Vanguardas Fitness. Todos os direitos reservados.</p>
    </footer>
</body>

</html>